---
import "@fontsource-variable/source-serif-4/opsz.css";
import "@fontsource-variable/source-serif-4/opsz-italic.css";
import "../styles/index.css";

import { getCollection, render } from "astro:content";

const words = await getCollection("words");
words.sort((a, b) => a.id.localeCompare(b.id));
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <link rel="icon" href="/favicon.ico" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>ilo Tani&rsquo;s Semantic Space Dictionary</title>

        <script is:inline>
            const key = "kon.nimi.li:theme";
            const theme = localStorage.getItem(key) ?? "system";
            let loaded = false;
            const viewTransition = (fn) =>
                loaded && document.startViewTransition
                    ? document.startViewTransition(() => fn())
                    : fn();
            setTheme(theme);
            function setTheme(theme) {
                localStorage.setItem(key, theme);
                const isDark =
                    theme === "system"
                        ? window.matchMedia("(prefers-color-scheme: dark)")
                              .matches
                        : theme === "dark";
                viewTransition(() => {
                    document.documentElement.classList.toggle("dark", isDark);
                    document
                        .querySelectorAll("button[data-theme]")
                        .forEach((button) => {
                            button.disabled = theme === button.dataset.theme;
                        });
                });
            }
            document.addEventListener("DOMContentLoaded", () => {
                loaded = true;
                document
                    .querySelectorAll("button[data-theme]")
                    .forEach((button) => {
                        button.disabled = theme === button.dataset.theme;
                        button.addEventListener("click", () => {
                            setTheme(button.dataset.theme);
                        });
                    });
            });
        </script>
    </head>
    <body>
        <nav>
            <button data-theme="system">system</button>
            <button data-theme="light">light</button>
            <button data-theme="dark">dark</button>
            <a
                href="https://github.com/cubedhuang/semantic-spaces"
                rel="external">GitHub</a
            >
        </nav>
        <main>
            <h1>ilo Tani&rsquo;s Semantic Space Dictionary</h1>
            <p>
                This is a semantic space dictionary that I&rsquo;m currently
                working on. I tried not to read <a
                    href="https://lipamanka.gay/essays/dictionary"
                    rel="external">lipamanka&rsquo;s dictionary</a
                > while writing this so that I would record my own ideas. Nonetheless,
                some of the things here have definitely been influenced by what I&rsquo;ve
                read from it in the past.
            </p>
            {
                words.map(async (word) => {
                    const { Content } = await render(word);
                    return (
                        <>
                            <h2>{word.id}</h2>
                            <Content />
                            {word.data.examples && (
                                <ul class="examples">
                                    {word.data.examples.map((example) => (
                                        <li>
                                            <figure>
                                                <p lang="tok">{example.tok}</p>
                                                <figcaption lang="en">
                                                    {example.en}
                                                </figcaption>
                                            </figure>
                                        </li>
                                    ))}
                                </ul>
                            )}
                        </>
                    );
                })
            }
        </main>
    </body>
</html>

<style>
    nav {
        margin-block-end: 2rem;
        display: flex;
        align-items: baseline;
        gap: 1rem;
    }
    nav a {
        margin-inline-start: auto;
    }
    nav button,
    nav a {
        text-decoration: none;
        font: inherit;
        color: var(--link);
        background: none;
        cursor: pointer;
        border: none;
        font-weight: 500;
    }
    nav button:hover,
    nav a:hover {
        text-decoration: underline;
    }
    nav button {
        margin: 0;
        padding: 0;
    }
    nav button:disabled {
        text-decoration: none;
        cursor: unset;
        color: var(--text);
    }
    .examples {
        margin-inline: 0;
        padding: 0;
        list-style: none;
    }
    .examples li {
        margin-inline: 0;
        padding: 0;
        border-left: 3px solid var(--link);
    }
    .examples li figure {
        margin: 0;
        margin-left: 1rem;
    }
    .examples li figure p {
        margin: 0;
        font-style: italic;
    }
</style>
